.carousel {
  float: right;
  position: relative;
  width: 700px;
  height: 50px;
  /* display:flex;
  flex-direction: row-reverse */
}
* {
  box-sizing: border-box;
}
/* .well {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  position:relative;
  width: 20px
  height: 40px

} */
.searchTerm:focus{
  color: #00B4CC;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
.carousel-inner {
  width: 50px
  height:400px
  position:relative;
  background-color: #333;
}
.carousel-inner .carousel {
  padding:8px
}
.carousel-inner .carousel > div {
  height: 10px;
  width: 10px
}
/* .container {
  display: list-item;
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  width: 100%;
  font-style: italic;
  font-size: 16px

} */
.p2, .signuppage{
  display: none;
}
#black{
  background-color: #000;
  color: #fff;
  background-color: #333;
  margin-left: 20%;
  margin-top: 50%
  /* position: absolute;
  display:inline-block; */
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
/* .p1 {
  height: 100%;
} */

.carousel-slide {
  position: relative;
}
/* img{
  height: 300px;
  width: 300px;
  border-radius: 20px;
}
img:hover{
  border 2px solid black;
  box-shadow: 4px 6px 8px #00acc1;
} */
